.button:hover {
    -fx-background-color: #5E60CE;
    -fx-cursor: pointer;
}

.button {
    -fx-background-color: #6930C3;
}

.button:focused{
    -fx-background-color: #5E60CE;
}

#buttonApprove:hover {
    -fx-background-color: #33cc33;
    -fx-text-fill: black;
}

#buttonApprove {
    -fx-text-fill: white;
}

#buttonReject:hover {
    -fx-background-color: #ff3300;
    -fx-text-fill: black;
}

#buttonReject {
    -fx-text-fill: white;
}

#topHBox {
    -fx-background-color: linear-gradient(to bottom right, #7400B8, #5E60CE);
}

#mainButton {
    -fx-background-color: transparent;
}
#mainButton:hover {
    -fx-cursor: pointer;
}

.tablePane {
    -fx-background-color: white;
    /*-fx-background-color: #d080ff;*/
}

.table-view {
    -fx-background-color: transparent;
    /*-fx-background-color: white;*/
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #7400B8, #5E60CE);
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .text{
    -fx-fill: white;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: purple;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #7400B8, #5E60CE);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #7400B8, #5E60CE);
}
.table-row-cell:highlighted {
    -fx-background-color: #da99ff;
    -fx-background-radius: 15px;
}

.dialog {
    /*-fx-background-color: #5390D9;*/
    -fx-background-color: white;
}
.dialog.button {
    -fx-background-color: white;
}
.dialog:header *.header-panel {
    -fx-background-color: linear-gradient(to bottom right, #7400B8, #5E60CE);
    -fx-text-color : white;
}